# ==================== population_job関連 ====================

# ========== ADF_info ==========
# ADFのARMテンプレート（膨大なのでGitでの管理から除外）
/population_job/ADF_info/ARM_template/

# ADFのリンクサービスの個別JSON（接続文字列など機密情報を含み得るGitでの管理から除外）
/population_job/ADF_info/individual_JSON/linkedServices

# ========== PowerBI ==========
# PowerBIのSQL Databaseへの接続情報
/population_job/PowerBI/connect_setting.md
# PowerBIのpbixファイル
/population_job/PowerBI/dashboard/
# PowerBIの可視化内容のスナップショット
/population_job/PowerBI/snapshot/

# ========== python ==========
# pythonでのSQL Databaseへの接続情報
/population_job/python/config/connect_DB.config
# pythonの仮想環境フォルダ
/population_job/python/.venv
# pythonのpycache（キャッシュファイル）
**/__pycache__/
# pythonの出力ファイル（グラフなど）
/population_job/python/output/img/*
# pythonの出力ファイル（データフレームなど）
/population_job/python/output/csv/*
# pythonの入出力ファイル（inputに分析で利用するために読み込むデータを、outputに一時保存用のデータを格納）
/population_job/python/data/*

# ========== raw_data ==========
# 生データ
/population_job/raw_data/ 

# ==================== selfstudy_assistance_agent関連 ====================
/selfstudy_assistance_agent/要件定義.md

# ========== python ==========
/selfstudy_assistance_agent/状況整理/
# pythonでのSQL Databaseへの接続情報
/selfstudy_assistance_agent/python/config/connect_DB.config
# pythonの仮想環境フォルダ
/selfstudy_assistance_agent/python/.venv
# pythonのpycache（キャッシュファイル）
**/__pycache__/
# pythonの出力ファイル（グラフなど）
/selfstudy_assistance_agent/python/output/img/*
# pythonの出力ファイル（データフレームなど）
/selfstudy_assistance_agent/python/output/csv/*
# pythonの入出力ファイル（inputに分析で利用するために読み込むデータを、outputに一時保存用のデータを格納）
/selfstudy_assistance_agent/python/data/*



